<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" parallel="none" >




<!--

    <test name="ChromeTestCases">

        <parameter name="browser" value="chrome"/>

        <groups>
            <run>
                <include name="admin" />
                <include name="user"  />
            </run>
        </groups>

        <classes>

            <class name ="SearchTests">
            <methods>
                <include name=".*TestCase12.*"/>
                <include name=".*TestCase13.*"/>
                <exclude name=".*TestCase11*"/>
            </methods>
            </class>
        </classes>

    </test>
-->

    <test name="FirefoxTestCases">

        <parameter name="browser" value="firefox"/>

        <classes>

            <class name ="RegistrationTests"/>

        </classes>

    </test>


<test name="Chrome Tests cases 2">
    <parameter name="browser" value="chrome" />


        <classes>
            <class name="RegistrationTests">

            </class>
        </classes>

</test>


</suite>

